on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  test_ci:
    name: job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
      - name: setup & test
        run: |
          npm i
          npm test
      
